@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    -webkit-user-drag: none;
    @apply select-none;
  }
}

@layer utilities {
  .allow-drag {
    -webkit-user-drag: auto;
  }

  .allow-select {
    @apply select-text;
  }
}

.header {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  background: var(--app-background) linear-gradient(90deg, #f25e8500 0%, #f25e851c 50%, #f25e851c 100%);
  @apply border-b;
}

.header .title {
  font-size: 18px;
  font-weight: normal;
}

.header .actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.header .actions .additional {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 12px;
  color: rgb(150, 150, 150);
}

.additional>* {
  margin-left: 4px;
}

.header .actions .additional .accent {
  font-size: 22px;
  font-weight: bold;
  color: #F25E86;
  margin-left: 6px;
}

.header .actions>*:first-child {
  margin-left: 0;
}

.header .actions>* {
  margin-left: 4px;
}

.btn {
  outline: none;
  padding: 6px 12px;
  min-width: 30px;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
  color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  box-shadow: 0 0 6px 1px rgb(0 0 0 / 20%);
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  @apply text-xs bg-primary border-0;
}

.btn.outline {
  @apply text-primary bg-transparent border border-primary shadow-none;
}

.btn:hover {
  box-shadow: 2px 2px 6px 1px rgb(0 0 0 / .1);
}

.btn:active {
  box-shadow: 2px 2px 6px 1px rgb(0 0 0 / .1), 2px 2px 6px 1px rgb(0 0 0 / .1) inset;
}

.btn:disabled {
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.08);
  color: #8f8f8f;
  cursor: default;
}

.btn.outline:disabled {
  border: 1px solid rgba(0, 0, 0, 0.1);
}